*
!simulation/
!simulation/Dockerfile
!simulation/__init__.py
!simulation/prepare.py
!simulation/sim.py
!evaluation/
!evaluation/__init__.py
!evaluation/evaluate.py
!pyproject.toml
!uv.lock
!.python-version
